<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Panel ratownika</title>

  <link rel="stylesheet" href="bower_components/bootstrap/css/bootstrap.min.css">
  <link href="bower_components/font-awesome/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/dashboard.css">
</head>

<style>
  .event:hover {
    opacity: 0.7;
  }
</style>

<body ng-app="petPatrolApp">
<div class="wrapper" ng-controller="DashboardCtrl" ng-init="selectCategory('new')">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div style="position: fixed; width: 250px">
      <div class="sidebar-header">
        <img class="img-fluid" alt="Logo" src="images/petpatrol.png"/>
      </div>

      <ul class="list-unstyled components">
        <p>Panel ratownika</p>
        <li>
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Zdarzenia</a>
          <ul class="collapse list-unstyled show" id="homeSubmenu">
            <li>
              <a ng-class="selectedCategory == 'Nowe' ? 'selectedCategory' : ''" ng-click="selectCategory('new')" href="#">Nowe</a>
            </li>
            <li>
              <a ng-class="selectedCategory == 'Moje' ? 'selectedCategory' : ''" ng-click="getUserEvents()" href="#">Moje</a>
            </li>
            <li>
              <a ng-class="selectedCategory == 'Odrzucone' ? 'selectedCategory' : ''" ng-click="selectCategory('rejected')" href="#">Odrzucone</a>
            </li>
            <li>
              <a ng-class="selectedCategory == 'Zamknięte' ? 'selectedCategory' : ''" ng-click="selectCategory('done')" href="#">Zamknięte</a>
            </li>
          </ul>
        </li>
        <!--        <li>-->
        <!--          <a href="#">About</a>-->
        <!--        </li>-->
        <!--        <li>-->
        <!--          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>-->
        <!--          <ul class="collapse list-unstyled" id="pageSubmenu">-->
        <!--            <li>-->
        <!--              <a href="#">Page 1</a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--              <a href="#">Page 2</a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--              <a href="#">Page 3</a>-->
        <!--            </li>-->
        <!--          </ul>-->
        <!--        </li>-->
        <!--        <li>-->
        <!--          <a href="#">Portfolio</a>-->
        <!--        </li>-->
        <!--        <li>-->
        <!--          <a href="#">Contact</a>-->
        <!--        </li>-->
      </ul>
    </div>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <div style="position: fixed;z-index: 999;">
      <div style="position: fixed;background: #fafafa;top:0;height: 50px">
        <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light" style="top: 15px">
          <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
              <i class="fas fa-align-left"></i>
              <span>Panel ratownika</span>
            </button>
            <button ng-if="selectedEvent != null" class="btn-primary btn ml-4" ng-click="selectEvent(null)">Wroc</button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-align-justify"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Page</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="mt-lg-5" style="z-index: 0">
      <div ng-if="selectedEvent === null" ng-repeat="event in events">
        <div class="py-5 w-50 mx-auto">
          <a href="#" ng-click="selectEvent(event)">
            <div class="container event">
              <div class="row">
                <div class="col-md-12">
                  <div class="card"><img class="card-img-top mx-auto" src="{{event.pictures[0].path}}" alt="Card image cap" style="max-width: 500px;max-height: 250px">
                    <div class="card-body">
                      <h4 class="card-title">{{event.title}}</h4>
                      <p class="card-text">{{event.description}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div style="margin-top: 100px" class="container" ng-if="events.length == 0">
        <h3 style="text-align: center" class="card-title">Brak zgłoszeń w kategorii: {{selectedCategory}}!</h3>
      </div>

      <div ng-if="selectedEvent !== null">
        <div class="py-5 mx-auto">
          <div class="container">
            <h4 class="card-title">{{selectedEvent.title}}</h4>
            <h5 class="card-title">{{selectedEvent.location}}</h5>
            <div class="row">
              <div class="col-md-12">
                <div class="carousel slide" data-ride="carousel" id="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item" ng-class="$index == 0 ? 'active' : ''" ng-repeat="picture in selectedEvent.pictures">
                      <img style="max-height: 500px" class="d-block img-fluid w-100" src="{{picture.path}}">
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#carousel" role="button" data-slide="next"> <span class="carousel-control-next-icon"></span> <span class="sr-only">Next</span> </a>
              </div>
              <div class="card-body">
                <p class="card-text">{{selectedEvent.description}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-6 d-flex justify-content-center"><a class="btn btn-primary w-50" href="#">Odrzuć</a></div>
              <div class="col-md-6 d-flex flex-row align-items-center justify-content-center"><a class="btn btn-primary w-50" ng-click="acceptEvent(selectedEvent.id)" href="#">Akceptuj</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="bower_components/jquery/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="bower_components/popper/popper.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/app.js"></script>
<script type="text/javascript" src="scripts/factories/event-data.js"></script>
<script type="text/javascript" src="scripts/controllers/dashboard.js"></script>
<script type="text/javascript">
  let width = $(window).width();
  $("#navbar").width(width - 350);

  $(window).on('resize', function () {
    if ($(this).width() != width) {
      width = $(this).width();
      $("#navbar").width(width - 350);
    }
  });

  $(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
      $('#sidebar').toggleClass('active');
    });
  });
</script>
</body>
</html>
